@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #2c7bfe;
  font-family: 'Josefin Sans', sans-serif;
}
section {

  width: 100%;
  display: grid;
  place-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 8em; /* Added negative top margin */
}

.column {
  flex: 0 0 100%; /* Modified */
  padding: 0 1em 1em 1em;
  text-align: center;
}

.card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background: linear-gradient(#ffffff 50%, #2c7bfe 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  border: none;
  box-shadow: none;
  cursor: pointer;
  transition: 0.5s;
}
.wrapper {
  margin-top: 10%;
  text-align: center;
}

.wrapper h2 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  margin-bottom: 30px;
  color: #fff;
}

.team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  margin-top: 3em;
}

.team .team_member {
  background: linear-gradient(#fff, #fff);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 200%;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: background-position 0.3s ease-in-out;
}

.team .team_member h3 {
  color: #5995fd;
  font-size: 26px;
  margin-top: 20px;
}

.team .team_member p.role {
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
}

.team .team_member .team_img {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.team .team_member .team_img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.team .team_member::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: rgba(44, 123, 254, 0.9);
  transition: height 0.3s ease-in-out;
  z-index: -1;
}

.team .team_member:hover::before {
  height: 100%;
}
